qwen-base/
checkpoint-300/
Frontend/node_modules/
Backend/__pycache__/
Backend/.env
Backend/venv/
Backend/utils/__pycache__/
logs/
*.log
dist/
*.local

# Editors
.vscode/
*.idea/
.DS_Store
venv/
*.pyc
.env
